.project-item {
    margin-top: 15px;
}

.pr-name:hover {
    border: 1px solid #18b4ff;
}

/*.tooltip-arrow,*/
.pr-name + .tooltip > .tooltip-inner {
   /*background-color: #12b7ff;*/
    min-width: 300px;
}

.pr-type, .pr-date {
    margin: 5px 5px;
}

.pr-date {

}

.project-list{
    margin: 0px;
}




