

.prjDesc{
    max-height: 200px;
    overflow-x: auto;
    overflow-y: auto;
}

.projtype {
    text-align: center;
    color: #5bc0de;
}


.author {
    margin-top: 15px;
    text-align: left;
}

.buttons {
    width: 225px;
    margin: 10px auto;
}

.graphs {
    margin: 10px;
}

.graphitem {
    margin-bottom: 20px;
    margin-top: 20px;
}

.graphname {
    padding: 20px;
    text-align: center;
    width: inherit;
    word-wrap: break-word;
}

.mathName, .wordWrap{
    word-wrap: break-word;
}

.graphmath {
    margin-top: 0px;
}

.graphmathitem {
    margin-top: 5px;
}

.tab-pane{
    overflow-x: auto;
    overflow-y: hidden;
    width:100%;
    /*min-height: 500px;*/
}

.selector-info-mess, .graphic-info-mess{
    margin-top: 10px;
}



















