.project-item {
    margin-top: 15px;
}

/*.tooltip-arrow,*/
.pr-name + .tooltip > .tooltip-inner {
   /*background-color: #12b7ff;*/
    width: 150px;
    word-wrap: break-word;
}

.project-list{
    margin: 0px;
}

.prj-list-info{
    margin-top: 10px;
}

.add-project{
    margin-bottom: 10px;
}




